/* #6543b6 */
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 }
.box{
  width:30vw; 
  padding: 8px;
}
h1{
  text-align: center;
}
.change{
  display: flex;
  justify-content: space-between;
 ;
}
.prev,.next{
  font-size: 4rem;
  cursor: pointer;
}
.btn{
  width: 30%;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
  background-color: #6543b6;
  color: white;
  font-weight: 600;
  padding: 9px;
  border-radius: 9px;
  cursor: pointer;
  transition: all .7s;
}
.btn:hover{
  opacity: .4;
}
.edge{
  width: 100%;
  height: 4px;
  background-color: #6543b6;
  margin: auto;
}
.name,.job{
  text-align: center;
  /* margin-bottom: 4px; */
  font-size: 1rem;
  padding: 3px;
  font-weight: 600;
  text-transform: capitalize;
}
.job{
  color: #6543b6;
  opacity: .5;
}
.feed{
  margin-top: 9px;
  text-align: left;
  padding: 4px;
  opacity: .7;
}
img{
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.box-part{
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  gap: 19px ;
  padding: 5px;
}
.img{
  position: relative;
}
.round {
  height: 140px;
  width: 140px;
  background-color: #6543b6;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: 10px;
  /* bottom: 20px; */
  z-index: -1;
}